.content {
   margin-top: 117px;
}

.content_blocks {
   margin-top: 57px;
   display: flex;
   justify-content: space-between;

}

.content_block {
   display: grid;
   width: 564px;
}

.content_block p {
   font-family: 'Open Sans';
}

.content_gallery {
   margin-top: 113px;
   display: flex;
   justify-content: space-between;
}

.gallery_image {
   transition: 500ms;
}

.gallery_image:hover {

   opacity: 50%;
}